.custom-date-picker {
  //width: 100% !important;
  color: initial !important;
  font-family: Raleway !important;

  .mx-input:hover, .mx-input:focus {
    border-color: $yellow;
  }

  &.mx-datepicker {
    width: 100%;
  }
  &.disabled.mx-datepicker {
    .mx-icon-calendar {
      display: none;
    }
  }
  .mx-input:disabled {
    cursor: initial;
    background: #FFF;
  }

  .mx-icon-calendar, .mx-icon-clear {
    right: 20px;
  }
  .mx-input {
    padding: 0 20px;
    font-size: 16px;
    border-radius: 15px;
    height: 44px;
    color: initial !important;
    cursor: pointer;
    box-shadow: initial;
    -webkit-box-shadow: initial;
    border: 1px solid $stroke;
    &:focus, &:hover {
      border-color: #000;
      &::placeholder {
        color: #000;
      }
    }
  }
  .mx-btn {
    color: initial;
    &:hover {
      color: initial;
    }
  }

  .mx-table-date .today {
    color: rgba(#000, .6);
  }

  .mx-calendar-panel-date:nth-child(2) {
    display: none !important;
  }
  .mx-calendar-content {
    .cell:hover {
      background: rgba($yellow, .1);
      color: initial;
    }
    .cell.in-range {
      background: rgba($yellow, .2);
      color: initial;

    }
    .cell.active {
      background: rgba($yellow, 1);
      color: initial;
    }
  }
}

.user__item_disable {
  .custom-date-picker {
    .mx-input {
      pointer-events: none;
      color: rgba($grey, .5) !important;
      border-color: transparent !important;
    }
  }

}
