.auth .form {
  display: none;
  &.form_active {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin: 0 0 2px;
    position: relative;
  }
  &__text {
    color: $grey;
    font-size: 16px;
    opacity: 0.5;
  }
  .check {
    margin: 0 auto 20px 0;
    input {
      width: 0;
      height: 0;
      visibility: hidden;
      margin: 0;
    }
    &__label {
      display: flex;
      align-items: center;
    }
    .check__box {
      display: flex;
      position: relative;
      width: 17px;
      height: 17px;
      border-radius: 4px;
      background: #FFF;
      border: 1px solid $stroke;
      transition: .2s;
    }
    &__title {
      font-size: 16px;
      color: $grey;
      margin: 0 0 0 9px;
    }
    &__icon {
      position: absolute;
      top: 4px;
      left: 2px;
      display: none;
    }
    .check__label input:checked ~ .check__box {
      background: $yellow;
      border-color: transparent;
      .check__icon {
        display: flex;
      }
    }
  }
}
