.modal-content {
  border: none;
  border-radius: 13px;
}

.modal-body {
  padding: 0;
  position: relative;
}

.modal-dialog {
  max-width: 572px;
}

.mod {
  margin: 30px;
  position: relative;
  &__text {
    font-size: 16px;
    color: $grey;
    opacity: 0.4;
    margin: 0 0 3px;
  }
  &__balance {
    font-weight: 800;
    font-size: 50px;
    color: #000;
    margin: 0 0 42px;
  }
  &__items {
    margin: 0 0 25px;
  }
  &__closs {
    padding: 10px;
    margin: -10px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px;
  }
  &__title {
    font-weight: bold;
    font-size: 22px;
    color: #000000;
  }
  &__item {
    margin: 0 0 2px;
  }
  &__btns {
    display: flex;
    justify-content: flex-end;
  }
  &__btn {
    @include btn;
    @include btn-yellow;
  }
}

@media (max-width: 767px) {
  .modal-dialog {
    margin: 0;
    max-width: 100% !important;
    width: 100%;
  }
  .modal-dialog-centered {
    height: 100%;
  }
  .modal-body {

    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

    background: #FFF;
    position: fixed;
    bottom: -50px;
    left: 0;
    right: 0;
    max-height: 80%;
    overflow: scroll;
  }
  .mod {
    margin-bottom: 80px !important;
  }
}

@media (max-width: 767px) {
  .mod {
    &__balance {
      font-size: 40px;
      margin: 0 0 20px;
    }
  }
}

#modal-change-ava {
  .change {
    &__msg {
      margin: 10px 0 0;
      font-size: 13px;
    }
    &__text {
      color: rgba(#000000, 0.5);
      font-size: 16px;
      margin: 0 0 42px;
    }
    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__label {
      @include btn;
      @include btn-yellow;
    }
  }
  #set-avatar-input {
    width: 0;
    height: 0;
    opacity: 1;
    margin: 0;
    padding: 0;
    border: none;
  }
}

#modal-send-balance {
  .mode-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .circle {
    width: 18px;
    height: 18px;
    border: 1px solid rgba($grey, .3);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__small {
      display: none;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      background: $yellow;
    }
  }
  .mode-select {
    margin: 0 0 24px;
    &__text {
      opacity: 0.5;
      color: #000;
      margin: 0 0 0 10px;
      transition: .15s;
    }
    &__item {
      display: flex;
      align-items: center;
      &_active {
        .circle {
          &__small {
            display: flex;
          }
        }
        .mode-select__text {
          opacity: 1;
        }
      }
    }
  }
  @media (max-width: 576px) {
    .mode-select {
      grid-template-columns: 1fr;
    }
  }
}

#modal-recieve {
  .recieve {
    &__qr {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      margin: 0 0 24px;
    }
    &__epitaph {
      color: #000000;
      font-size: 16px;
      opacity: 0.5;
      margin: 0 0 42px;
    }
    .qr {
      &__hide-text {
        color: #000000;
        font-size: 16px;
        opacity: 0.1;
      }
      &__eye {
        position: absolute;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid $grey-bg;
        width: 38px;
        height: 38px;
        bottom: -19px;
        //left: 0;
        &_show {
          background: $yellow;
          border-color: $yellow;
        }
      }
      &__code {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 240px;
        border: 1px solid $grey-bg;
        border-radius: 17px;
        canvas {
          margin: -20px;
        }
      }
      &__title {
        font-size: 18px;
        color: #000000;
        margin: 0 0 8px;
      }
      &__address {
        background: $grey-bg;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #EBEBEB;
        border-radius: 15px;
        height: 44px;
        padding: 0 15px 0 20px;
        margin: 0 0 9px;
        .address {
          &__value {
            color: rgba($grey, .5);
          }
          &__btn {
            margin: -8px;
            padding: 8px;
            border-radius: 8px;
            transition: .3s;
            &:active {
              transition: 0s;
              background: $yellow;
            }
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    .recieve {
      &__qr {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin: 0 0 24px;
      }
    }
  }
}

#modal-success-enable-ga, #modal-success-disable-ga, #modal-success-send {
  .modal-dialog {
    max-width: 376px;
  }
  .mod {
    &__text {
      margin: 0 0 40px;
    }
  }
}

#modal-enable-ga {
  .modal-dialog {
    max-width: 895px;
  }
  .modal-content {
    margin-right: 15px;
  }

  .ega {
    padding: 30px;
    margin: 0;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__code {
      letter-spacing: 0.16em;
      font-weight: bold;
      font-size: 16px;
      color: #000000;
      background: $stroke;
      border-radius: 10px;
      height: 35px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      margin: 20px 0 0;
    }
    &__title {
      color: #000000;
      font-weight: 600;
      font-size: 20px;
      margin: 0 0 20px;
    }
    &__text {
      font-size: 16px;
      color: #000000;
      opacity: 0.4;
      margin: 0 0 30px;
      max-width: 388px;
      text-align: center;
    }
    &__form {
      width: 396px;
    }
    .ga-code {
      margin: 10px 0 0;
      &__title {
        font-size: 16px;
        opacity: 0.5;
        color: $grey;
        margin: 0 0 15px 20px;
      }
      &__items {
        display: flex;
        justify-content: space-between;
      }
      &__item {
        padding: 0;
        text-align: center;
        width: 14%;
        &:not(:last-child) {
          margin: 0 10px 0 0;
        }
      }
    }
    &__content {
      display: none;
      align-items: center;
      /*justify-content: center;*/
      flex-direction: column;

      &_active {
        display: flex;
      }
      &:nth-child(1) {
        .download {
          display: flex;
          &__item {
            &:first-child {
              margin: 0 20px 0 0;
            }
          }
        }
      }
    }
    .steps {
      align-items: center;
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      &__line {
        position: absolute;
        height: 1px;
        background: $stroke;
        &_active {
          background: $yellow;
        }
        &:nth-child(1) {
          left: 0;
          right: 66%;
        }
        &:nth-child(2) {
          left: 33%;
          right: 36%;
        }
        &:nth-child(3) {
          left: 63%;
          right: 0;
        }
      }
      &__num {
        width: 24px;
        height: 24px;
        border-radius: 100px;
        background: #fff;
        display: flex;
        font-weight: bold;
        align-items: center;
        margin: 0 10px 0 0;
        justify-content: center;
      }
      &__text {
        color: #000000;
        font-size: 14px;
        opacity: 0.4;
      }
      &__item {
        position: relative;
        background: linear-gradient(99.4deg, #ffffff 0.73%, #ffffff 100%);
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 18px;
        border: 1px solid $stroke;
        border-radius: 13px;
        &.steps__item_active {
          background: $yellow-gradient;
          border: none;
          padding: 1px 19px;
          .steps__num {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          }
          .steps__text {
            opacity: 1;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      .btn:first-child {
        @include btn_out;
      }
      .btn:last-child {
        @include btn-yellow;
      }
    }
  }
  @media (max-width: 991px) {
    .ega {
      .steps {
        &__num {
          margin: 0 7px 0 0;
        }
        &__item {
          padding: 0 8px;
          height: 38px;
          &.steps__item_active {
            padding: 1px 9px;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .ega {
      .steps {
        &__num {
          margin: 0;
        }
        &__text {
          display: none;
        }
        &__item {
          padding: 0;
          width: 44px;
          height: 44px;
          &.steps__item_active {
            padding: 0;
          }
        }
      }
    }
  }
  @media (max-width: 575px) {
    .ega {
      &__form {
        width: initial;
      }
      &__content:nth-child(1) {
        .download {
          flex-direction: column;
          align-items: center;
          &__item {
            &:first-child {
              margin: 0 0 10px;
            }
          }
        }
      }
      &__bottom {
        display: flex;
        .btn:first-child {
          display: none;
        }
        .btn:last-child {
          width: 100%;
          @include btn-yellow;
        }
      }
    }
  }
}
