
$yellow: #fee802;
$yellow-second: #f6d605;
$yellow-third: #eebc08;
$grey: #54595F;
$grey-bg: #F2F2F2;
$yellow-gradient: linear-gradient(99.4deg, #FEE802 0.73%, #FED602 100%);
$stroke: #F5F3F3;
$red: #EB5757;

$transition-default: .35s;

